/target/test-classes/CheckAllUserResponsesTest.class
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/google-java-format.xml
/.idea/jarRepositories.xml
/target/classes/org/example/Main.class
/src/main/java/org/example/Main.java
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/target/test-classes/Spec.class
/.idea/uiDesigner.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/target/test-classes/User.class
/target/test-classes/UserData.class
/target/test-classes/UserDataFemaleApiTest.class
/target/test-classes/UserDataMaleApiTest.class
/target/test-classes/UserIdList.class
/target/test-classes/UsersApiTest.class
/.idea/vcs.xml
/.idea/workspace.xml
